body {
  margin:36px auto;
  width:90%;
  background-color: #141e1d;
}
#page {
  margin:0 auto 53px;
  width:93.75%;
}
#main {
  float:left;
  width:62.8888889%;
}
#other {
  float:right;
  width:36.7777778%;
}

@font-face{font-family: MyFirstFont;
    src: url(game_of_thrones/GameOfThrones.ttf);}

header{
    background-image: url("images/Print.png");
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    }
header h1 {
    padding:0.8em 5.33333333%;
    font-family: MyFirstFont;
    color: #7D3419;
    font-size: 34pt;
    padding-top: 60px;
    text-shadow: 1px 1px 2px #B03925;}

h1{text-align: center;
    color: #f4dcb2}
/*-------------------------- menu style ----------------*/

li{
   list-style:none;    
   overflow:hidden;
   padding:5px 0;
   position:relative;
}
li label{
   float:left;
   background:#141e1d;
   padding-right:10px;
   color: #f4dcb2;
   font-size: 12pt;
}
li span{
   float:right;
   background:#141e1d;
   padding-left:10px;
   color: #f4dcb2;
   font-size: 12pt;
}
.dotted-bg{
   border-top:dotted 2px #ccc;
   position:absolute;   
   top:15px;
   width:100%;
   z-index:-1;
}


footer{color: #f4dcb2;
    }
/*--------------------------- nav ----------------------*/
nav{background-image: url(images/Ice.gif);
    background-repeat: no-repeat;
    background-position: left;
    height: 110px;}

nav ol {
  padding-left: 15em;
  padding-top: 42px;
}
nav a{color: #f4dcb2;
    font-weight: bold;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
    }
nav a:link{
    text-decoration: initial;
}
nav a:hover{color: #8c5135;
    text-decoration: initial;
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    font-weight: bold; font-style: italic;}
nav ol li {
  display:inline;
  text-align: center;
  list-style-type:none;
  padding-right:3em;
  background: transparent;
  padding: .5em;
  font-size: 15pt;
  color: #f4dcb2;
    font-weight: bold;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}


 article h1, article p {
  padding:0.2em 8.48056537%;
  color: #F0D1AF;
  word-wrap: break-word;
}
article p {font-size:10pt;}

h2{padding:0.2em 8.48056537%;
  color: #F0D1AF;
  font-size: 12pt}

aside h1, aside p {
  margin:0 auto;
  width:69.7885196%;
  color: #F0D1AF;
  padding-left: 4em;
  word-wrap: break-word;
}

aside image{float: bottom}
article image{float: bottom;
    object-position: center}
/*--------------------------- table ------------------------*/

table { 
  width: 100%; 
  border-collapse: collapse;
  color: #292C26;
  background-image: url('images/Paper.png');
  background-size: cover;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}
/* Zebra striping */
tr{ 
  background: transparent;
  color: #111111;
  text-indent: 1em;
  font-weight: bold;
  text-align: center;
}
th { 
  background: #412926; 
  color: #D9C196; 
  font-weight: bold; 
  padding: 6px; 
  border: 1px solid #CBCBCB; 
  text-align: center;}



/*CSS for smaller screens*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "Hours of Operation"; }
	td:nth-of-type(2):before { content: " "; }
	td:nth-of-type(3):before { content: "Job Title"; }
}

/*--------------------------- form -------------------------*/
#main{
    margin: auto;
    text-align: left;
    width: 600px;
}

fieldset{
    clear: both;
    border: 1px solid #8c5135;
    color:#8c5135;
}
fieldset.buttons{
    border: none;
}
fieldset.contact{
    float: left;
    background: transparent;
}

fieldset.contact label{
    display: block;
    text-align: right
}

fieldset.contact input{
    width: 15em;    
}

fieldset.wrapper {
    border: 0;
    margin: auto;
    background-image: url('images/Paper.gif');
    background-repeat: no-repeat;
    background-size: cover;
}

fieldset.wrapper p{color: #000;
    font-weight: bold;
    font-size: 12pt;}

fieldset.wrapper legend {
    color: #7D3419;
    font-weight: bold; 
    font-size: 1.2em;
    margin-top: 10px;
    padding-top: 90px;
    padding-left: 50px;
    text-shadow: 1px 1px 2px #B03925;
}

fieldset.wrapper > legend {
    /* i only want the first legend ie if it follows the class wrapper */
    font-size: 2em; 
}

fieldset.contact legend{
    padding-top: 0px;
    backgroud: transparent;
}

fieldset.intro legend{
    padding-top: 0px;
    background: transparent;
}

/* minor data validation, we would still need to use php to be certain */

fieldset.contact input:valid{
    border: medium solid green;
}

fieldset.contact input:invalid{
    border: medium solid red;
}
fieldset.contact input.mistake:valid{
    border: medium solid red;
}

/***********************************************************************/

label {
    color: #8c5135;
    font-weight: bold;
    font-size: .9em; 
    display: block;
}

.required {
    font-weight:bolder;
    font-style:italic;
}

label.required:before {
    content: "* ";
    color: #000;
}

span.required:after {
    color: #FF0000;
    content: " Required *";
}

.mistake {
    color: #fff;
    background-color:#800;
    border: thin solid #000;
}

#errors ol li{
    color: #ff5555;
}
